@import "../themes/themes-module";
@import "../abstracts/abstracts-module";

.dropdown {

  .dropdown-menu {
    @include themify() {
      background-color: getThemifyVariable('components--background');
      box-shadow: getThemifyVariable('shadow');
    }
  }

  .dropdown-header {
    background-image: linear-gradient(180deg, darken($primary, $theme-color-interval) 0rem, darken($primary, $theme-color-interval) 8rem, transparent 8rem);
    height: $spacer * 4.5;
    padding: $spacer;
    h5, p, small {
      color: $white;
    }
  }

  .dropdown-item {
    @include themify() {
      color: getThemifyVariable('font--color');
    }
    &:hover {
      @include themify() {
        background-color: getThemifyVariable('components--background-hover');
      }
      p {
        @include themify() {
          color: getThemifyVariable('font--color-hover');
        }
      }
    }
    &.disabled {
      opacity: $disabled-opacity;
    }
  }

  .dropdown-divider {
    margin-left: $spacer;
    margin-right: $spacer;
    @include themify() {
      border-top: getThemifyVariable('divider');
    }
  }

}

// THEMES
.dark {
  .dropdown {
    .dropdown-header {
      *[class*="bg-circle"] > .text-white {
        color: $primary !important;
      }
    }
  }
}

.dropdown {
  .btn-outline-primary {
    &:hover {
      .text-primary {
        color: $white !important;
      }
    }
  }
}

// @include media-breakpoint-down(md) {

//   .dropdown {
//     .btn-primary {
//       padding: 0.7rem;

//       i-download {
//         margin-right: 0 !important;
//       }
//       .media-body > p {
//         display: none;
//       }
//       i-chevron-down {
//         display: none;
//       }

//     }
//   }

// }

// @include media-breakpoint-down(sm) {

//   .dropdown {
//     .btn-primary {
//       padding: 0.7rem 1.5rem;

//       i-download {
//         margin-right: $spacer !important;
//       }
//       .media-body > p {
//         display: block;
//       }
//       i-chevron-down {
//         display: block;
//       }

//     }
//   }

// }