@import "../themes/themes-module";
@import "../abstracts/abstracts-module";

// Size Icons
$icon--size:(
  "xs":         $spacer, // 15px
  "sm":         $spacer * 1.5, // 22.5px
  "md":         $spacer * 2, // 30px
  "lg":         $spacer * 2.5, // 37.5px
  "xl":         $spacer * 3, // 45px
  "xxl":        $spacer * 4, // 60px
);

@each $name, $size in $icon--size {
  .icon--#{$name} {
    width: $size !important;
    height: $size !important;
    display: flex;
    justify-content: center;
    align-items: center;
    & > svg.feather {
      display: flex;
      width: $size !important;
      height: $size !important;
      stroke-width: 2px;
    }
  }
}

// Inputs Icons
.input__icon--search {
  background: str-replace(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$primary}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>'), "#", "%23") no-repeat;
  background-size: $spacer * 1.5;
  background-position: left math.div($spacer, 2) center;
  padding-left: $spacer * 2.5;
}

.subCollapseArrow{
  position:absolute; 
  top:15px; 
  right:30px;
  background-color: $white;
}
.height-0{
  height: 0px !important;
}

.input__icon--user {
  background: str-replace(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$primary}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>'), "#", "%23") no-repeat;
  background-size: $spacer * 1.5;
  background-position: right math.div($spacer, 2) center;
}

.input__icon--lock {
  background: str-replace(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$primary}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>'), "#", "%23") no-repeat;
  background-size: $spacer * 1.5;
  background-position: right math.div($spacer, 2) center;
}

.input__icon--mail {
  background: str-replace(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$primary}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/><polyline points="22,6 12,13 2,6"/></svg>'), "#", "%23") no-repeat;
  background-size: $spacer * 1.5;
  background-position: right math.div($spacer, 2) center;
}

.input__icon--chevron-down {
  background: str-replace(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$primary}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"/></svg>'), "#", "%23") no-repeat;
  background-size: $spacer * 1.5;
  background-position: right math.div($spacer, 2) center;
}

.input__icon--calendar {
	background: str-replace(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$primary}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>'), "#", "%23") no-repeat;
	background-size: $spacer * 1.5;
	background-position: right math.div($spacer, 2) center;
	&[disabled]:hover {
		box-shadow: none;
	}
}

.input__icon--clock {
	background: str-replace(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$primary}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>'), "#", "%23") no-repeat;
	background-size: $spacer * 1.5;
	background-position: right math.div($spacer, 2) center;
}

.input__icon--phone {
	background: str-replace(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$primary}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>'), "#", "%23") no-repeat;
	background-size: $spacer * 1.5;
	background-position: right math.div($spacer, 2) center;
}

.input__icon--plus {
	background: str-replace(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$primary}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>'), "#", "%23") no-repeat;
	background-size: $spacer * 1.5;
	background-position: right math.div($spacer, 2) center;
}

.input__icon--smartphone {
	background: str-replace(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#{$primary}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smartphone"><rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect><line x1="12" y1="18" x2="12" y2="18"></line></svg>'), "#", "%23") no-repeat;
	background-size: $spacer * 1.5;
	background-position: right math.div($spacer, 2) center;
}

.input__icon--clear {
  color: $danger;
  width: $spacer;
  height: $spacer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: $spacer;
  top: calc(50% - 0.5rem);
  cursor: pointer;
  user-select: none;
  .text-clear {
    font-size: $font-size-lg;
    line-height: 1;
    display: inline-block;
    pointer-events: none;
  }
  &:hover .text-clear {
    color: lighten($danger, $theme-color-interval);
    text-shadow: 0 0 math.div($spacer, 2) lighten($danger, $theme-color-interval);
  }
}

.input__icon--calendar,
.input__icon--clock {
  & + .input__icon--clear {
    right: $spacer * 2.5 !important;
  }
}

// THEMES
// .dark {
//   *[class*="bg-circle--"]:not(*[class*="bg-circle-outline--"]) > *[class*="icon--"] {
//     color: $white !important;
//   }
// }
