// Customize scrollbars
// @include scrollbars(.5em, slategray);
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 25%)) {
  ::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }
  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  ::-webkit-scrollbar-track {
    background: $background-color;
  }
  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

// Add vendor prefixes to any css property
// @include prefixes(transform, scale3d(2.5, 2, 1.5));
@mixin prefixes($prop, $value) {
  -webkit-#{$prop}: #{$value};
  -moz-#{$prop}: #{$value};
  -ms-#{$prop}: #{$value};
  -o-#{$prop}: #{$value};
  #{$prop}: #{$value};
}

// Keyframe animations
// @include keyframes(name) { 0% {background: white;} }
@mixin keyframes($animate) {
  @-webkit-keyframes #{$animate} {
    @content;
  }
  @-moz-keyframes #{$animate} {
    @content;
  }
  @-o-keyframes #{$animate} {
    @content;
  }
  @keyframes #{$animate} {
    @content;
  }
}

// Hardware acceleration for some animation
// @include hardware($backface, $perspective);
@mixin hardware($backface: true, $perspective: 1000) {
  @if $backface {
    backface-visibility: hidden;
  }
  perspective: $perspective;
}

// Placeholder
// @include input-placeholder { color: $grey; }
@mixin input-placeholder {
  &.placeholder { @content; }
  &:placeholder { @content; }
  &::placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-ms-input-placeholder { @content; }
  &:-webkit-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

// Retina-ready images
// background: url("my-image.png") no-repeat;
// @include retina-image("my-image2x.png", 1000px, 500px);
@mixin retina-image($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}

// Font Face Relu
// @include font-face('Lato', '../fonts/lato/lato-regular-webfont', 400, normal);
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url(#{$file-path}.ttf) format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}