<main class="bg-primary w-full h-screen p-8 flex flex-col items-center">
  <div class="absolute top-0 left-0 hidden sm:block">
    <img
      src="images/Group-L/circle.svg"
      alt="Circle Element"
      class="w-32 h-32 2xl:w-48 2xl:h-48 absolute top-14 left-40 2xl:top-16 2xl:left-48"
    />
    <img
      src="images/Group-L/rectangle.svg"
      alt="Rectangle Element"
      class="w-56 2xl:w-72 h-auto"
    />
  </div>

  <img
    class="w-32 md:w-40 h-fit z-10"
    src="images/Group-L/Grupo_L_Logo_Gray.svg"
    alt="Logo Grupo L"
  />

  <section class="min-h-96 flex flex-col justify-center items-center z-10">
    <img
      src="images/Group-L/404.svg"
      alt="404"
      class="flex w-full max-w-80 2xl:max-w-lg h-fit mb-8"
    />
    <h2
      class="text-gray-700 text-xl md:text-2xl font-semibold text-center mb-8"
    >
      ¡Ups! Página no encontrada
    </h2>
    <p
      class="w-full max-w-5xl text-gray-700 text-sm md:text-base font-medium text-center mb-8"
    >
      Lo sentimos, no encontramos la página que buscas. Revisa la URL o usa los
      botones de navegación para seguir explorando. Puedes volver a la página
      principal desde aquí.
    </p>
    <a
      class="my-4 flex items-center bg-gray-700 text-white bg-opacity-100 hover:bg-opacity-85 hover:bg-gray-700 border border-gray-700 hover:text-white font-semibold rounded-full text-base px-5 py-2 text-center [font-smoothing:_antialiased] [-webkit-font-smoothing:_antialiased]"
      type="button"
      [routerLink]="'/dashboard-list'"
    >
      Ir al Inicio
    </a>
  </section>
  <img
    src="images/Group-L/logo_origin_gray.svg"
    alt="Logo Origin"
    class="w-20 md:w-28 h-fit z-10"
  />
  <div class="absolute bottom-0 right-0 hidden sm:block">
    <img
      src="images/Group-L/circle.svg"
      alt="Circle Element"
      class="w-32 h-32 2xl:w-48 2xl:h-48 absolute bottom-14 right-40 2xl:bottom-16 2xl:right-48"
    />
    <img
      src="images/Group-L/rectangle.svg"
      alt="Rectangle Element"
      class="w-56 2xl:w-72 h-auto"
    />
  </div>
</main>
