<div class="form-group min-[860px]:col-span-2">
  <div
    id="date-range-picker"
    class="flex flex-col min-[860px]:items-center min-[860px]:flex-row gap-4"
  >
    <div
      class="flex flex-col w-full max-w-[828px] min-[860px]:max-w-[278.39px] min-[860px]:mr-0 min-[1088px]:max-w-full"
    >
      <label
        class="block mb-2 text-sm font-semibold text-gray-800"
        for="ExampleDatepicker"
        >Fecha desde
      </label>
      <div class="relative">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
        >
          <i-feather
            name="calendar"
            class="text-gray-600 text-sm mr-2 !w-4 !h-4"
          ></i-feather>
        </div>
        <input
          id="datePickerStart"
          type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-900 focus:border-gray-900 block w-full ps-10 p-2.5 h-10"
          placeholder="dd/mm/aaaa"
        />
      </div>
    </div>
    <div
      class="flex flex-col w-full max-w-[828px] min-[860px]:max-w-[278.39px] min-[860px]:mr-0 min-[1088px]:max-w-full"
    >
      <label
        class="block mb-2 text-sm font-semibold text-gray-800"
        for="ExampleDatepicker"
        >Fecha hasta
      </label>
      <div class="relative">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
        >
          <i-feather
            name="calendar"
            class="text-gray-600 text-sm mr-2 !w-4 !h-4"
          ></i-feather>
        </div>
        <input
          id="datePickerEnd"
          type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-900 focus:border-gray-900 block w-full ps-10 p-2.5 h-10"
          placeholder="dd/mm/aaaa"
        />
      </div>
    </div>
  </div>
</div>
